$deep_yellow: #FFBF00;
$dark_gray: #424242;
$light_gray: #dcdcdc;
$error_red: #EE5757;
$pinkish-gray: #bdbdbd;
$warm-gray: #757575;
$white-two: #dcdcdc;
$white-four: #eeeeee;

#smart-tab-manager-command-box {
  position: fixed;
  overflow: hidden;
  left: 0 !important;
  top: 0 !important;
  height: 100% !important;
  width: 100% !important;
  z-index: 2147483647 !important;

  background: rgba(0, 0, 0, 0.3);

  > #command-box {
    position: relative;
    margin: 30vh auto;
    padding: 15px 20px;
    width: 60vw;
    height: 80px;
    border-radius: 4px;
    background-color: white;
    box-sizing: border-box;
    font-family: SimplonBold;
    color: $dark_gray;

    > .icon {
      float: left;
      margin-right: 15px;
      background-image: url("https://cdn0.iconfinder.com/data/icons/jfk/512/chrome-512.png");
      background-size: cover;
      width: 50px;
      height: 50px;
    }

    #smart-tab-manager-input, #smart-tab-manager-preview {
      margin: 0 !important;
      padding: 0 !important;
      border: none !important;
      box-shadow: none !important;
      background-color: transparent !important;

      position: absolute;
      top: 15px;
      right: 15px;

      width: calc(100% - 95px);
      height: 50px;
      line-height: 50px;
      font-size: 25px;
      font-weight: 400;
      font-family: SimplonBold;
      text-align: left;

      &:focus {
        outline: none !important;
      }
    }

    #smart-tab-manager-preview {
      color: $pinkish-gray !important;
    }
  }
}
