$deep_yellow: #FFBF00;
$dark_gray: #424242;
$light_gray: #dcdcdc;
$error_red: #EE5757;
$pinkish-gray: #bdbdbd;
$warm-gray: #757575;
$white-two: #dcdcdc;
$white-four: #eeeeee;

body {
  margin: 20px;
  width: 600px;
  color: $dark_gray;

  > .title {
    font-weight: bold;
  }
}

#tab-list {
  border-radius: 4px;
  height: 90%;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  > .tab {
    position: relative;
    float: left;
    margin: 5px 1.5%;
    width: 30%;
    cursor: pointer;

    > .delete {
      display: none;
      position: absolute;
      top: -7px;
      right: -7px;

      width: 20px;
      height: 20px;
      background: {
        image: url('../../resources/delete.png');
        repeat: no-repeat;
        size: 20px;
      }
      cursor: pointer;
    }

    > .cover {
      padding: 8px;
      height: 30px;
      line-height: 30px;
      background-color: $dark_gray;
      color: white;

      > .favicon {
        float: left;
        margin-right: 8px;
        width: 30px;
        height: 30px;
        background-color: white;
        border-radius: 15px;
      }

      > .title {
        float: left;
        width: calc(100% - 38px);

        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre;
      }
    }

    > .url {
      padding: 8px;
      height: 90px;
      line-height: 11px;
      background-color: $white-four;

      font-size: 8px;
      overflow: hidden;
    }

    &.active {
      > .cover {
        background-color: $deep_yellow;
      }
    }

    &:hover {
      transition: box-shadow .3s ease-out;
      box-shadow : 0 0 10px;

      > .delete {
        display: block;
      }
    }
  }
}
